* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

main {
  & h1 {
    display: grid;
    place-items: center;
    transition: all 0.5s ease-in-out;

    &:hover {
      filter: drop-shadow(0px 0px 5px CanvasText);
      cursor: pointer;
    }
  }
}

img {
  width: 400px;
  height: 400px;

  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(101%);
    box-shadow: 0px 0px 15px -3px CanvasText;
    cursor: pointer;
  }
}

section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5rem;
}

h2,
p,
li {
  transform-origin: top;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: CanvasText;
    color: Canvas;
  }
}

h2 {
  padding: 1rem;
}

li {
  padding: 0.2rem 1rem;
}

.strong {
  font-weight: bold;
}
